background: rgba(255,255,255,1);
background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(210,240,249,1) 81%, rgba(210,240,249,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(81%, rgba(210,240,249,1)), color-stop(100%, rgba(210,240,249,1)));
background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(210,240,249,1) 81%, rgba(210,240,249,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(210,240,249,1) 81%, rgba(210,240,249,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(210,240,249,1) 81%, rgba(210,240,249,1) 100%);
background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(210,240,249,1) 81%, rgba(210,240,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d2f0f9', GradientType=1 );
.imgRedonda {
    width:300px;
    height:300px;
    border-radius:160px;
    border:10px solid #666;
}